apiVersion: apps/v1
kind: Deployment
metadata:
  name: zookeeper-1
  namespace: batch
  labels:
    app: zookeeper
spec:
  replicas: 1
  selector:
    matchLabels:
      app: zookeeper
  template:
    metadata:
      labels:
        app: zookeeper
    spec:
      containers:
      - name: zookeeper
        image: confluentinc/cp-zookeeper:7.6.0
        ports:
        - containerPort: 2181
        env:
        - name: ZOOKEEPER_CLIENT_PORT
          value: "2181"
        - name: ZOOKEEPER_SERVER_ID
          value: "1"
        - name: ZOOKEEPER_SERVERS
          value: "zookeeper-1:2888:3888"
---
apiVersion: v1
kind: Service
metadata:
  name: zookeeper-1
  namespace: batch
spec:
  ports:
  - port: 2181
    targetPort: 2181
  selector:
    app: zookeeper