airflow:
  defaultAirflowTag: "3.0.6"
  airflowVersion: "3.0.6"

  executor: KubernetesExecutor

  images:
    airflow:
      repository: custom-airflow
      tag: latest
      pullPolicy: Never

  serviceAccount:
    create: true
    name: "airflow-worker"
  dags:
    gitSync:
      enabled: true
      repo: "https://github.com/viet-anh-le/test-airflow.git"
      branch: "main"
      depth: 1
      wait: 60
      subPath: "airflow/dags"
  postgresql:
    enabled: true
    image:
      repository: bitnamilegacy/postgresql
      tag: "13.2.0"
  config:
    core:
      parallelism: 4
      max_active_tasks_per_dag: 4
      dag_concurrency: 4
    logging:
      remote_logging: "False"
